{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="{% static 'includes/password_reset.css' %}">
</head>
<body>
    
    <div class="Background">
    </div>  

    <div class="Body">  
        <h1>Reset Password</h1>
        <form method="POST" action="{% url 'reset_password' %}">
            {% csrf_token %}
            <input type="password" name="newpassword" placeholder="new password" class="newpass {% if error or empty %}error{% endif %}">
            <input type="password" name="confirmpassword" placeholder="confirm password" class="confirmnewpass {% if error or empty %}error{% endif %}">

            {% if error  %}
                <p class="error">{{ error }}</p>
            {% endif %}

            {% if empty %}
                <p class="error">{{ empty }}</p>
            {% endif %}

            <button type="submit" class="Confirm">Reset Password</button>
        </form>    
    </div>

</body>
</html>
