{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull Registration</title>
    <link rel="stylesheet" href="{% static 'includes/successfull.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
    
    <div class="Background">
    </div>
    <div class="Body">
        <h1>Successfull Registration</h1>
        <h3>Thanks for registration!</h3>
        <p>Now you can login to the site, Enjoy!</p>
        <button class="image"></button>
        <div class="back">
            <a href="{% url 'main-page' %}" class="Back">Back to login</a>
        </div>
    </div>

</body>
</html>